  .content {
    grid-area: content;
    background: rgba(191, 215, 236, 0.959);
    margin-top: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .bgContent img {
    width: 100%;
    height: 200px;
  }
  