.header {
    grid-area: header;
    background: rgba(191, 215, 236, 0.959);
    padding: 7px;
    border-radius: 5px;
    position: relative;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  .themeIcon {
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 51px;
    right: 21px;
    top: 3px;
}
  

  

  