.header {
    grid-area: header;
    background: rgba(93, 93, 93, 0.959);
    padding: 7px;
    box-shadow: 6px -8px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    position: relative;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  .themeIcon {
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 51px;
    right: 21px;
    top: 3px;
}
  
.setting_icon {
  i {
    position: absolute;
    right: 10%;
    top: 22%;
    font-size: 38px;
  }
}


.loginBlock {
  float: right;
  margin-top: 15px; 
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
