.friendsNav {
    padding: 10px;
    color: #000;
    font-size: 20px;
  
}
.header {
    font-size: 23px;
}
.friendsItems {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

