html {
  background-color: rgba(189, 189, 189, 0.788);
}

.app-wrapper {
  display: grid;
  width: 1400px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "header header"
  "nav content";
  margin-top: 20px;
}

