.dialogs {
    display: grid;
    background: rgba(94, 168, 236, 0.959);
    margin-top: 5px;
    padding-bottom: 20px;
    grid-template-columns: 4fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.item {
    padding: 18px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.dialogsItems .active {
    color: gold;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    padding: 10px;
    margin: -14px auto; 
}

.messages {
    padding: 22px;
}
.message {
    padding: 5px;
    font-size: 20px;
}

.addMessages {
    display: flex;
    position: relative;
    margin-top: 30%;
}

.textAreaMessage {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    background: rgba(255,255,255, 0.6);
    width: 60%;
    height: 20px;
    outline: none;
}

.btnMessage {
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    width: 200px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
    right: 160px;
    top: -5px;
}

.btnMessage:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
    background-color: rgba(11, 99, 246, 1);
    color: #FFF;
}